## In this code im going to make a model for predict how much insurence can give after refer the client factors.

In [1]:
# import part
import tensorflow as tf
from tensorflow.keras import layers
import pandas as pd
import numpy as np
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
# Read the csv file using pandas data frame
data_base = pd.read_csv("https://raw.githubusercontent.com/prvpitawala/ML_project_2_predict_insurance/main/data_base.csv")
data_base

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
# lets one hot encode our data frame
encoded_data_base = pd.get_dummies(data_base)
encoded_data_base

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [4]:
# create x and y data set
x = encoded_data_base.drop("charges", axis=1) # drop the chages part
y = encoded_data_base["charges"]

In [5]:
print(x, y)

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

      region_northeast  region_northwest  region_southeast  region_southwest
0                    0                 0                 0                 1
1                    0                 0                 1                 0
2                    0                 0                 1                 0
3                    0                 1                 0                 0
4                    0                 1                 0                 0
...                ...               ...               ...               ...
1333                 0                 1                 0                 0
1334                 1                 0                 0                 0
1335                 0                 0                 1                 0
1336                 0                 0                 0                 1
1337                 0                 1                 0                 0

[1338 rows x 11 columns] 0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
# lets split our data to train and test part
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=42)

In [7]:
x_train, y_train

(      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes  \
 560    46  19.950         2           1         0          1           0
 1285   47  24.320         0           1         0          1           0
 1142   52  24.860         0           1         0          1           0
 969    39  34.320         5           1         0          1           0
 486    54  21.470         3           1         0          1           0
 ...   ...     ...       ...         ...       ...        ...         ...
 1095   18  31.350         4           1         0          1           0
 1130   39  23.870         5           1         0          1           0
 1294   58  25.175         0           0         1          1           0
 860    37  47.600         2           1         0          0           1
 1126   55  29.900         0           0         1          1           0

       region_northeast  region_northwest  region_southeast  region_southwest
 560                  0                 1                 0                 0
 1285                 1                 0                 0                 0
 1142                 0                 0                 1                 0
 969                  0                 0                 1                 0
 486                  0                 1                 0                 0
 ...                ...               ...               ...               ...
 1095                 1                 0                 0                 0
 1130                 0                 0                 1                 0
 1294                 1                 0                 0                 0
 860                  0                 0                 0                 1
 1126                 0                 0                 0                 1

 [1070 rows x 11 columns],
 560      9193.83850
 1285     8534.67180
 1142    27117.99378
 969      8596.82780
 486     12475.35130
            ...
 1095     4561.18850
 1130     8582.30230
 1294    11931.12525
 860     46113.51100
 1126    10214.63600
 Name: charges, Length: 1070, dtype: float64)

In [8]:
# check the shape
x_train.shape, y_train.shape,  x_test.shape, y_test.shape

((1070, 11), (1070,), (268, 11), (268,))

In [ ]:
# lets make the model

# set random seed
tf.random.set_seed(42)

# create the model
model = tf.keras.Sequential([
    layers.Dense(11, activation ="relu", input_shape =(None, 11)),
    layers.Dense(8, activation ="relu"),
    layers.Dense(4, activation ="relu"),
    layers.Dense(1)
])

# Compile the model
model.compile(loss = ["mae"],
              optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001),
              metrics = ["mae"])

# Fit the model
model.fit(x_train,
          y_train,
          epochs = 2000,
          verbose = 1)

In [10]:
# lets evaluate the model with the test data
model.evaluate(x_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 1549.0316 - mae: 1549.0316

[1549.0316162109375, 1549.0316162109375]

In [11]:
# lets test the predictions and real values
print(y_test[:5])

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
Name: charges, dtype: float64

In [12]:
model.predict(x_test[:5])

1/1 [==============================] - 0s 81ms/step

array([[ 9031.823 ],
       [ 5224.2134],
       [28736.639 ],
       [ 9188.972 ],
       [29646.633 ]], dtype=float32)

### So when we consider this predicted value and the test values, we can see the values are same. so our model is working well but it can improve more than this.